.container{
    display: flex;
    flex-direction: column; 
    width: 500 px;
    align-items: center;
    justify-content: center;
}

table td{
    border: 2.5px solid rgb(255, 255, 255) ;
    width: 100px;
    height: 100px;
}

.win{
    font-size: 30px;
}

table tr{
    background-color: rgb(26, 42, 77);
    font-size: 38px;
}